<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Михаил Мигалов</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
</head>

<body>
    <a class="anchor" name="top"></a>
    <header class="header">
        <div class="wrapper">
            <div class="logo">
                <img class="logo__img" src="img/logo-studio.svg">
                <span class="point">Michel</span>
            </div>
            <div class="menu-wrapper">
                <div class="hamburger-menu"></div>
            </div>
            <nav class="nav nav--menu">
                <ul class="nav__list">
                    <li class="nav__item nav__item--current"><a class="nav__link" href="#hello">Главная</a></li>
                    <li class="nav__item"><a class="nav__link" href="#tech">Технологии</a></li>
                    <li class="nav__item"><a class="nav__link" href="#skills">Навыки</a></li>
                    <li class="nav__item"><a class="nav__link" href="#port">Портфолио</a></li>
                    <li class="nav__item"><a class="nav__link" href="#feed">Обратная связь</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--.shadow-->
    <div class="wrapper">
        <a class="anchor" name="hello"></a>
        <section class="hello"><img class="hello__picture" src="img/man_office.svg" />
            <div class="hello__about-me">
                <h1 class="hello__title"><span class="point">Михаил Мигалов</span></h1>
                <p class="hello__desc">Я начинающий верстальщик. В настоящее время я ищу работу в области frontend-разработки. Помимо этого я продолжаю верстать и писать валидный код, чтобы расширить свои компетенции в качестве веб-разработчика.</p>
                <p class="hello__desc">Помимо вёрстки и программирования также увлекаюсь векторной графикой и иногда пробую проектировать интерфейсы.</p>
                <p class="hello__desc">Если что-либо из-этого вас заинтересовало или у вас есть ко мне вопросы, то ниже расположены мои контакты. Хорошего вам дня!</p>
                <table class="hello__table">
                    <tbody>
                        <tr>
                            <td class="table-hello__title">Телефон</td>
                            <td><a href="tel:+79093934313">+7-909-393-43-13</a></td>
                        </tr>
                        <tr>
                            <td class="table-hello__title">Email</td>
                            <td><a href="mailto:mafri.michel@gmail.com">mafri.michel@gmail.com</a></td>
                        </tr>
                        <tr>
                            <td class="table-hello__title">Адрес</td>
                            <td><a href="https://yandex.ru/maps/-/CBqCrLblxA">Балашиха, Горенский бульвар</a></td>
                        </tr>
                        <tr>
                            <td class="table-hello__title">Соц. сети</td>
                            <td>
                                <a class="mdi fonts-icons mdi-twitter" target="_blank" href="https://www.twitter.com/migal4fm"></a>
                                <a class="mdi fonts-icons mdi-github-circle" target="_blank" href="https://www.github.com/mafreelancer"></a>
                                <a class="mdi fonts-icons mdi-telegram" target="_blank" href="https://t.me/migal4"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="hello__btns btns-group">
                    <button class="btns-group__button">Contact me</button>
                    <button class="btns-group__button btn-download btns-group__button--download">Download cv</button>
                </div>-->
            </div>
        </section>
        <a class="anchor" name="tech"></a>
        <section class="technologies">
            <div class="article">
                <h2 class="article__title"><span class="point">Технологии</span></h2>
                <p class="article__description">Приведенные здесь технологии очень хорошо помогают мне быстро писать код, благодаря чему становится приятно воплощать авторский дизайн в лаконичный и удобно читаемый сайт.</p>
                <div class="article__squares"></div>
            </div>
            <div class="technologies__list">
                <div class="technologies__item">
                    <h4>Языки программирования</h4>
                    <p>HTML, CSS, JavaScript, PHP, MySQL, C#.</p>
                </div>
                <div class="technologies__item">
                    <h4>Веб-дизайн</h4>
                    <p>Photoshop, Illustrator, Sketch.</p>
                </div>
                <div class="technologies__item">
                    <h4>Препроцессоры</h4>
                    <p>SASS, SCSS, LESS</p>
                </div>
                <div class="technologies__item">
                    <h4>Шаблонизаторы</h4>
                    <p>Pug, Jade, Haml</p>
                </div>
            </div>
        </section>
        <a class="anchor" name="skills"></a>
        <section class="skills">
            <div class="article">
                <h2 class="article__title"><span class="point">Навыки</span></h2>
                <p class="article__description">Здесь вкратце описаны навыки, которыми я обладаю и совершенствую.</p>
                <div class="article__squares"></div>
            </div>
            <div class="skills__list">
                <h3 class="skills__title"><span class="point">Профессиональный уровень</span></h3>
                <div class="skills__list list-skills">
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">HTML 5</h4>
                        <p class="item-skill__desc">Свободно владею, пишу валидный и структурированный код, выбираю названия классов по смыслу, чтобы следующий специалист после меня не запутался в названиях.</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">CSS 3</h4>
                        <p class="item-skill__desc">Свободно владею, знаю несколько хаков, умею правильно кэшировать подключенные стили, использую спрайты и анимацию</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Adobe Photoshop</h4>
                        <p class="item-skill__desc">Нарезаю PSD-файлы для вёрстки</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Bootstrap 4</h4>
                        <p>Использую в основном лишь сетку, однако применяю и другие стили оттуда, если того пожелает заказчик.</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">jQuery</h4>
                        <p class="item-skill__desc">Использую по необходимости, свободно ставлю готовые плагины и умею их подстраивать под нужды заказчика</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">PhpMyAdmin</h4>
                        <p class="item-skill__desc">Умею создавать БД, таблицы, работать с их кодировкой, загружать, выгружать, делать запросы</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Блочная верстка</h4>
                        <p class="item-skill__desc">Верстаю исключительно блоками</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Адаптивная верстка</h4>
                        <p class="item-skill__desc">Легко делаю резиновые макеты, подстраивающиеся под любую ширину рабочего окна браузера</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Flex-верстка</h4>
                        <p class="item-skill__desc">Блочная верстка в которой я использую flex-контейнеры, распологая их по выбранной оси</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Grid-верстка</h4>
                        <p class="item-skill__desc">Верстка, в которой я использую систему сетки, которая позволяет расположить блоки как угодно. Используется на данном сайте-портфолио. За этой технологией будущее.</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Работа с CMS (Joomla, Wordpress, Moodle, Webasyst, InSales)</h4>
                        <p class="item-skill__desc">Умею работать с административной панелью, натягивать HTML-шаблон на страницу.</p>
                    </div>
                </div>
                <h3 class="skills__title"><span class="point">Базовый уровень</span></h3>
                <div class="skills__list list-skills">
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">PHP</h4>
                        <p class="item-skill__desc">Пишу простые алгоримты, разбираю чужой код, знаю базовый синтаксис</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">MySQL</h4>
                        <p>Делаю запросы к БД</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">JavaScript</h4>
                        <p class="item-skill__desc">Разбираю чужой код, ставлю плагины, знаю базовый синтаксис</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Vue.JS</h4>
                        <p class="item-skill__desc">Пишу простые алгоритмы с помощью данного JS-фреймворка (используется на этом сайте)</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">LESS/SASS/Stylus</h4>
                        <p class="item-skill__desc">Знаю принципы работы CSS-препроцессоров, пишу селекторы по методологии БЭМ</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Github</h4>
                        <p class="item-skill__desc">Использую систему контроля версий для хранения своих работ и отслеживания изменений</p>
                    </div>
                </div>
            </div>
        </section>
        <a class="anchor" name="port"></a>
        <section class="portfolio">
            <div class="article article--center">
                <h2 class="article__title"><span class="point">Портфолио</span></h2>
            </div>
            <nav class="nav nav--filter nav--center">
                <ul class="filter nav__list nav__list">
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="All" /><span>Все проекты</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="HTML" /><span>Вёрстка</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="Vector" /><span>Векторная графика</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="UI/UX" /><span>UI/UX</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="JS" /><span>JavaScript</span></label></li>
                </ul>
            </nav>
            <div class="portfolio__list">
                <div class="portfolio__item" v-bind:data-id="project.id" project v-for="project in filteredProject">
                    <div class="portfolio__border">
                        <img v-if="project.vector" @click="click_page($event)" class="portfolio__img" v-bind:src="'img/vector/'+project.preview" alt="" />
                        <img v-else @click="click_page($event)" class="portfolio__img" v-bind:src="'img/previews/'+project.preview" alt="" />
                    </div>
                </div>
            </div>
            <div class="modal">
                <div class="modal-dialog">
                    <h1 class="modal__title">{{ target.name }}</h1>
                    <table class="hello__table">
                        <tbody>
                            <tr>
                                <td class="table-hello__title">Стэк технологий: &nbsp</td>
                                <td>{{ target.stack }}</td>
                            </tr>
                            <tr v-if="target.desc_bool">
                                <td class="table-hello__title">Описание:</td>
                                <td>{{ target.desc }}</td>
                            </tr>
                            <tr>
                                <td class="table-hello__title">Дата создания: </td>
                                <td>{{ target.created.month }}, {{ target.created.year }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <img v-if="target.vector" class="modal__img" v-bind:src="'img/vector/'+target.img" alt="" />
                    <img v-else class="modal__img" v-bind:src="'img/screenshots/'+target.img" alt="" />
                    <div class="btns-group">
                        <a v-if="target.url" v-bind:href="target.url"><button class="btns-group__button">Открыть</button></a>
                        <button class="btns-group__button btn-download btns-group__button--download">Закрыть</button>
                    </div>
                </div>
            </div>
        </section>
        <a class="anchor" name="feed"></a>
        <section class="feedback">
            <div class="article">
                <h2 class="article__title"><span class="point">Обратная связь</span></h2>
                <p class="article__description">Временно не доступно, так как не работает phpmail(). Вместо этого вы можете <a href="tel:+79093934313">позвонить</a>, либо использовать <a id="look-to-networks" href="#hello">соцсети.</a></p>
                <div class="article__squares"></div>
            </div>
            <form class="feedback__form">
                <input class="feedback__input" type="text" placeholder="Имя" disabled />
                <input class="feedback__input" type="email" placeholder="Электронный адрес" disabled />
                <textarea class="feedback__textarea" type="text" placeholder="Сообщение" disabled></textarea>
                <div class="feedback__buttons btns-group">
                    <button class="btns-group__button" type="submit">Отправить сообщение</button>
                </div>
            </form>
        </section>
    </div>
    <a id="top" href="#top"><img src="img/top.svg" alt=""></a>
    <a id="tech-info" href="#"><img src="img/warning.svg" alt=""></a>
    <div class="modal technical-information">
        <div class="modal-dialog">
            <h1 class="modal__title">Техническая информация</h1>
            <p>Добрый день! Здесь я коротко перечислюо, что добавлено на сайт-портфолио и какие технологии здесь используются.</p>
            <ul>
                <li>Навигационная панель движется вместе со скроллом и сужается во время скроллинга</li>
                <li>Анимированное меню</li>
                <li>Плавный скроллинг после клика на выбранный раздел</li>
                <li>Сайт адаптивен</li>
                <li>Сайт построен по БЭМ методологии</li>
                <li>Сайт построен на CSS Grid Layout</li>
                <li>Используется библиотека JQuery</li>
                <li>Используется JS-фреймворк Vue (с помощию него создан фильтр в разделе "Портфолио")</li>
            </ul>
            <div class="btns-group">
                <button class="btns-group__button btn-download btns-group__button--download">Закрыть</button>
            </div>
        </div>
    </div>
    <!--<footer>
        <p>Copyright 2018 Michel.</p>
    </footer>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/user.js"></script>
</body>

</html>