<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="logo"><span class="point">Michel</span></div>
            <div class="menu-wrapper">
                <div class="hamburger-menu"></div>
            </div>
            <nav class="nav nav--menu">
                <ul class="nav__list">
                    <li class="nav__item nav__item--current"><a class="nav__link" href="#">Главная</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">Технологии</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">Навыки</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">Портфолио</a></li>
                    <li class="nav__item"><a class="nav__link" href="#">Обратная связь</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--.shadow-->
    <div class="wrapper">
        <section class="hello"><img class="hello__picture" src="img/man_office.svg" />
            <div class="hello__about-me">
                <h1 class="hello__title"><span class="point">Михаил Мигалов</span></h1>
                <p class="hello__desc">I am a Web Developer located in Hartford, Connecticut. I currently work as a part time Remote Junior Web Developer for Coolor, located in Las Vegas. I am looking to take on more work and to increase my technologies as a Web Developer.</p>
                <div class="hello__contacts">
                    <p><span class="span-title">Phone</span><span>+7-909-xxx-xx-xx</span></p>
                    <p><span class="span-title">Email</span><span>mafri.michel@gmail.com</span></p>
                    <p><span class="span-title">Address</span><span>Moscow</span></p>
                    <p><span class="span-title">Social</span><span><a class="mdi fonts-icons mdi-twitter" target="_blank" href="https://www.twitter.com/"></a><a class="mdi fonts-icons mdi-github-circle" target="_blank" href="https://www.telegram.com/"></a><a class="mdi fonts-icons mdi-telegram" target="_blank" href="https://www.github.ip/"></a></span></p>
                </div>
                <div class="hello__btns btns-group">
                    <button class="btns-group__button">Contact me</button>
                    <button class="btns-group__button btn-download btns-group__button--download">Download cv</button>
                </div>
            </div>
        </section>
        <section class="technologies">
            <div class="article">
                <h2 class="article__title"><span class="point">Технологии</span></h2>
                <p class="article__description">Приведенные здесь технологии очень хорошо помогают мне быстро писать код, благодаря чему становится приятно воплощать авторский дизайн в лаконичный и удобно читаемый сайт.</p>
                <div class="article__squares"></div>
            </div>
            <div class="technologies__list">
                <div class="technologies__item">
                    <h4>Языки программирования</h4>
                    <p>HTML, CSS, JavaScript, PHP, MySQL, NodeJS, C#.</p>
                </div>
                <div class="technologies__item">
                    <h4>Веб-дизайн</h4>
                    <p>Photoshop, Illustrator, Sketch.</p>
                </div>
                <div class="technologies__item">
                    <h4>Препроцессоры</h4>
                    <p>SASS, SCSS, LESS</p>
                </div>
                <div class="technologies__item">
                    <h4>Шаблонизаторы</h4>
                    <p>Pug, Jade, Haml</p>
                </div>
            </div>
        </section>
        <section class="skills">
            <div class="article">
                <h2 class="article__title"><span class="point">Навыки</span></h2>
                <p class="article__description">Ещё не придумал описание</p>
                <div class="article__squares"></div>
            </div>
            <div class="skills__list">
                <h3 class="skills__title"><span class="point">Профессиональный уровень</span></h3>
                <div class="skills__list list-skills">
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">HTML 5</h4>
                        <p class="item-skill__desc">Свободно владею, пишу валидный и структурированный код, выбираю названия классов по смыслу, чтобы следующий специалист после меня не запутался в названиях.</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">CSS 3</h4>
                        <p class="item-skill__desc">Свободно владею, знаю немсколько хаков, умею правильно кэшировать подключенные стили, использую спрайты и анимацию</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Adobe Photoshop</h4>
                        <p class="item-skill__desc">Нарезаю PSD-файлы для вёрстки</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Bootstrap 4</h4>
                        <p>Использую в основном лишь сетку, однако могу применить и другие стили оттуда.</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">jQuery</h4>
                        <p class="item-skill__desc">Использую по необходимости, свободно ставлю готовые плагины и умею их подстраивать под нужды заказчика</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">PhpMyAdmin</h4>
                        <p class="item-skill__desc">Умею создавать БД, таблицы, работать с их кодировкой, загружать, выгружать, делать запросы</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Блочная верстка</h4>
                        <p class="item-skill__desc">Верстаю исключительно блоками</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Адаптивная верстка</h4>
                        <p class="item-skill__desc">Легко делаю резиновые макеты, подстраивающиеся под любую ширину рабочего окна браузера</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Flex-верстка</h4>
                        <p class="item-skill__desc">Блочная верстка в которой я использую flex-контейнеры, распологая их по выбранной оси</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Grid-верстка</h4>
                        <p class="item-skill__desc">Верстка в которой я использую систему сетки, которая позволяет без особых усилий расположить блоки по вашему желанию. За этой технологией будущее, уже её использую.</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Работа с CMS (Joomla, Wordpress, Moodle, Webasyst, InSales)</h4>
                        <p class="item-skill__desc">Умею работать с административной панелью, натягивать HTML-шаблон на страницу.</p>
                    </div>
                </div>
                <h3 class="skills__title"><span class="point">Базовый уровень</span></h3>
                <div class="skills__list list-skills">
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">PHP</h4>
                        <p class="item-skill__desc">Могу работать с шаблонизаторами, разбирать чужой код, знаю синтаксис</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">MySQL</h4>
                        <p>Умею делать запросы</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">JavaScript</h4>
                        <p class="item-skill__desc">Разбираю чужой код, ставлю плагины, знаю базовый синтаксис</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Регулярные выражения</h4>
                        <p class="item-skill__desc">Умею пользоваться, правда сложные запросы занимают некоторое время</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">LESS/SASS/Stylus</h4>
                        <p class="item-skill__desc">Знаю принципы работы css-препроцессоров, умею использовать</p>
                    </div>
                    <div class="list-skills__item">
                        <h4 class="item-skill__title">Github</h4>
                        <p class="item-skill__desc">Использую систему контролю версии для хранения своих работ и отслеживания изменения в своих работах</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <div class="article">
                <h2 class="article__title"><span class="point">Портфолио</span></h2>
            </div>
            <nav class="nav nav--filter">
                <ul class="filter nav__list">
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="All" /><span>Все проекты</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="HTML" /><span>Вёрстка</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="JS" /><span>JavaScript</span></label></li>
                    <li class="nav__item"><label><input class="nav__radiobutton" type="radio" v-model="selectedCategory" value="Vector" /><span>Векторная графика</span></label></li>
                </ul>
            </nav>
            <div class="portfolio__list">
                <div class="portfolio__item" v-bind:data-id="project.id" @click="click_page($event)" project v-for="project in filteredProject"><img v-bind:src="'img/previews/'+project.preview">{{ project.name }}</div>
            </div>
            <div class="modal">
                <div class="modal-dialog">
                    <h1 class="modal__title">{{ target.name }}</h1>
                    <p class="modal__desc">Beatiful site</p>
                    <p><span class="span-title">Стэк технологий: &nbsp</span><span>{{ target.stack }}</span></p>
                    <p><span class="span-title">Дата создания: &nbsp </span><span>{{ target.created.month }}, {{ target.created.year }}</span></p>
                    <img class="modal__img" v-bind:src="'img/screenshots/'+target.img" />
                    <div class="btns-group">
                        <a v-bind:href="target.url"><button class="btns-group__button">Открыть</button></a>
                        <button class="btns-group__button btn-download btns-group__button--download">Закрыть</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="feedback">
            <div class="article">
                <h2 class="article__title"><span class="point">Обратная связь</span></h2>
                <p class="article__description">Are you working on something great? I would love to help make it happen! Drop me a letter and start your project right now! Just do it.</p>
                <div class="article__squares"></div>
            </div>
            <form class="feedback__form">
                <input class="feedback__input" type="text" placeholder="Имя" />
                <input class="feedback__input" type="email" placeholder="Электронный адрес" />
                <textarea class="feedback__textarea" type="text" placeholder="Сообщение"></textarea>
                <div class="feedback__buttons btns-group">
                    <button class="btns-group__button" type="submit">Send Message</button>
                </div>
            </form>
        </section>
    </div>
    <footer>
        <p>Copyright 2018 Michel.</p>
    </footer>
    <script src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/user.js"></script>
</body>

</html>